body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  max-width: 1280px;
  color: #333333
}

a {
  text-decoration: none;
  color: #3c8ac2;
  font-weight: 700;
}

a:hover {
  color: #95B8D1;
  text-decoration: underline;
}
